---
import Layout from "@/layouts/Layout.astro"
import Apps from "@/components/Main/Apps.tsx"
---

<Layout>
  <div class="max-w-xl m-auto mt-32">
	  <h1 class="text-3xl font-semibold mb-20">Projects</h1>
	  <Apps client:only/>
  </div>
</Layout>
