---
import '@/styles/globals.css'
import { Toaster } from "@/components/ui/toaster"
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
		<Toaster client:load/>
	</body>
</html>
